<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doumi</title>
    <link href="../../static/css/article/articles.css" th:href = "@{/css/article/articles.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<header class="header">
    <div class="box-header">
        <h1><a href="/">ASK HUB</a></h1>
        <div class="navbar-menu">
            <div class="navbar-left">
                <div><a href="#" class="move_to_menu">메뉴1</a></div>
                <div><a href="#" class="move_to_menu">메뉴2</a></div>
                <div><a href="/admin" class="move_to_menu">관리자 페이지</a></div>
                <div><a href="/user/mypage" class="move_to_menu">마이페이지</a></div>
                <div class="log-info">
                    <th:block sec:authorize="isAnonymous()">
                        <button class="btn-log" onclick="location.href='/user/login'">로그인</button>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <span class="user-nickname" th:text="${#authentication.getPrincipal().getNickname()} + ' 님'"></span>
                        <button class="btn-log" onclick="location.href='/logout'">로그아웃</button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <br><br>
    <form class="form" action="/article/search">
        <div class="search_form">
                <span class="search_image">
                    <img src="/images/article/search.png" width="17px">
                </span>
            <label for="search"></label>
            <input class="input" type="text" required="" placeholder="제목,내용 검색하기" id="search" name="keyword">
        </div>
    </form>
    <div class="table_container">
        <li class="article_container" th:each="article:${articles}">
            <a th:href="@{'/article?id='+${article.articleId}}">
                <div class="titlecontent" th:text="${article.title}">
                      게시글 제목
                </div>
                <div style="display: flex; flex-direction: row; gap: 10px; margin-top:10px;">
                    <img class="profile-image" th:src="'/images/'+${article.profileImage}" th:if="${article.profileImage != null}" style="display: inline-block; width: 60px; height: 60px">
                    <img class="profile-image" src="/images/user/default-profile.png" th:if="${article.profileImage == null}" style="display: inline-block; width: 60px; height: 60px">
                    <div class="author_createdat_container" style="display: flex; flex-direction: column;">
                        <div class="author" th:text="${article.email}">작성자</div>
                        <div class="createdat" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                        <div>
                            <i class="fa-regular fa-eye"></i>
                            <span class="viewcount" th:text="${article.viewCount}">조회</span>&nbsp;
                            <i class="fa-regular fa-thumbs-up"></i>
                            <span class="likecount" th:text="${article.likeCount}">좋아요</span>&nbsp;
                            <i class="fa-regular fa-comment-dots"></i>
                            <span class="replycount">댓글수</span>
                        </div>
                    </div>
                </div>

            </a>
        </li>
    </div>
    <div class="button-container"><a class="write-button" href="/article/form">글쓰기</a></div>
    <nav class="page">
        <ul class="page_list" th:unless="${articles.isEmpty()}">
            <li class="page_link" th:unless="${startIdx == 1}">
                <a th:href="@{/articles?page=1}">처음</a>
            </li>
            <li class="page_link" th:unless="${startIdx == 1}">
                <a th:href="@{/articles(page = ${startIdx - 1})}"><<</a>
            </li>
            <li th:each="page : ${#numbers.sequence(startIdx, endIdx)}"
                th:class="${page == currentPage} ? 'page_current' : 'page_link'">
                <a th:href="@{/articles(page = ${page})}" th:text="${page}"></a>
            </li>
            <li class="page_link" th:unless="${endIdx == totalPages}">
                <a th:href="@{/articles(page = ${endIdx + 1})}">>></a>
            </li>
            <li class="page_link" th:unless="${endIdx == totalPages}">
                <a th:href="@{/articles(page = ${totalPages})}">마지막</a>
            </li>
        </ul>
    </nav>
</main>
<footer>

</footer>
</body>
</html>