<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doumi</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/3.0.2/toastui-editor.min.css">
    <link href="../../static/css/article/detail.css" th:href="@{/css/article/detail.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <section class="content-header">
        <div class="button-container">
            <a class="back-button" href="/articles">목록으로</a>
            <div>
                <a class="edit-button" href="/articles">수정</a>
                <a class="delete-button" href="/articles">삭제</a>
            </div>
        </div>
        <h1 class="title" th:text="${article.title}"></h1>
        <div class="content-info">
            <p class="board-writer-name" th:value="${article.email}" th:text="${article.email}"></p>
            <p class="content-createdAt" th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
            <p class="viewcount" th:text="'조회 ' + ${article.viewCount}"></p>
        </div>
    </section>
    <section class="content-main">
        <h2 class="a11y">퀴즈 게시판 본문 내용</h2>
        <div class="content-detail" th:text="${article.contents}">
        </div>
    </section>
    <section class="comment-container">
        <div class="comment-header">
            <div class="comment-editor">
                <input type="hidden" id = "articleId" name="articleId" th:value="${article.articleId}"/>
                <textarea id = "comment-input" class="comment-input" placeholder="댓글을 달아보세요"
                          name="contents" onchange="commentCreateWordCount(this);"
                          oninput="commentCreateWordCount(this);"></textarea>
                <div class="comment-text-create-count">0/1500</div>
                <div class="comment-editor-bottom">
<!--                   <button class="submit-button" type="button" onclick="clickCommentSubmitButton(this)">등록</button>-->
                    <button id = "submit-button" class="submit-button" onclick="submitReply(this)" type="button">등록</button>
                </div>
            </div>
        </div>
        <div class="comment-editor-line">

        </div>
        <div class="comment-main">
            <div class="comment-item-container" th:each="reply: ${replys}">
                <input type="hidden" class="comment-id" th:value="${reply.replyId}"/>
                <div class="comment-item-header">
                    <div class="comment-info">
                        <p class="comment-writer-name" th:text="${reply.user}"></p>
<!--                        <p class="comment-createdAt" th:text="${#dates.format(reply.createdAt,'yyyy-MM-dd HH:mm')}"></p>-->
                    </div>
                    <div class="comment-edit-container">
                        <button onclick="clickCommentEditButton(this)">수정</button>
                        <button onclick="clickCommentDeleteButton(this)">삭제</button>
                    </div>
                </div>
                <div class="comment-item-body">
                    <div style="word-break:break-all" class="comment-contents" th:text="${reply.comments}"></div>
                    <div class="comment-editor-bottom hidden">
                        <button class="comment-submit-button" type="button"
                                onclick="clickCommentEditCompleteButton(this)">수정 완료
                        </button>
                        <button class="comment-cancel-button" type="button" onclick="clickCommentEditCancelButton(this)">
                            취소
                        </button>
                    </div>
                </div>
                <div class="comment-item-bottom">
                    <div class="etc-button-container">
                        <button class="comment-button re-comment-editor-opener"
                                onclick="clickReCommentEditorOpener(this)">
                            <img th:src="@{/images/icon_recomment.png}" alt="답글달기 버튼">답글 달기
                        </button>
                    </div>

                </div>
                <div class="re-comment-editor hidden">
                    <input type="hidden" class="parentCommentId" th:value="${reply.replyId}"/>
                    <textarea class="re-comment-input" placeholder="댓글을 작성해보세요"
                              name="contents"
                              onchange="reCommentCreateWordCount(this)"
                              oninput="reCommentCreateWordCount(this)"></textarea>
                    <div class="re-comment-text-create-count">0/1500</div>
                    <div class="re-comment-editor-bottom">
                        <button class="re-comment-submit-button" type="button"
                                onclick="clickReCommentSubmitButton(this)">등록
                        </button>
                        <button class="re-comment-cancel-button" type="button" onclick="clickReCommentCancelButton(this)">
                            취소
                        </button>
                    </div>
                </div>
<!--                <div class="re-comment-items-container">-->
<!--                    <div class="re-comment-item-container" th:each="reComment:${reply.reComments}">-->
<!--                        <input type="hidden" class="re-comment-id" th:value="${reComment.id}"/>-->
<!--                        <div class="re-comment-item-header">-->
<!--                            <div class="re-comment-info">-->
<!--                                <p class="re-comment-writer-name" th:text="${reComment.writer}"></p>-->
<!--                                <p class="re-comment-createdAt"-->
<!--                                   th:text="${#dates.format(reComment.createdAt,'yyyy-MM-dd HH:mm')}"></p>-->
<!--                            </div>-->
<!--                            <div class="re-comment-edit-container">-->
<!--                                <button onclick="clickReCommentEditButton(this)">수정</button>-->
<!--                                <button onclick="clickReCommentDeleteButton(this)">삭제</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="re-comment-item-body">-->
<!--                            <div style="word-break:break-all" class="re-comment-contents" th:text="${reComment.contents}"-->
<!--                                      onchange="reCommentEditWordCount(this)"-->
<!--                                      oninput="reCommentEditWordCount(this)"></div>-->
<!--                            <div class="re-comment-text-edit-count hidden">0/1500</div>-->
<!--                            <div class="re-comment-editor-bottom hidden">-->
<!--                                <button class="re-comment-submit-button" type="button"-->
<!--                                        onclick="clickReCommentEditCompleteButton(this)">수정 완료-->
<!--                                </button>-->
<!--                                <button class="re-comment-cancel-button" type="button" onclick="clickReCommentEditCancelButton(this)">-->
<!--                                    취소-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
</main>
<script src="https://uicdn.toast.com/editor/3.0.2/toastui-editor-all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="/js/reply/reply.js"></script>
  <script>
    let str = document.querySelector('.content-detail').innerHTML;
console.log(str);
const content = toastui.Editor.factory({
    el: document.querySelector('.content-detail'),
    viewer: true,
    useScript: true,
    initialValue: str
});
 </script>
</body>
</html>