<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link href="../../static/css/article/form.css" th:href="@{/css/article/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <form action="/coteboard/form" method="post" class="coteForm" onsubmit="return false;">
        <div class="title-container">
            <textarea class="title" placeholder="제목을 적어 주세요." rows="1" onkeyup="autoResize(this)"
                      onkeydown="autoResize(this)"></textarea>
        </div>
        <div class="writer-container">
            <input class="writer" placeholder="작성자 (11자 이내)" maxlength="11" type="text" size="19px"/>
        </div>
        <div class="boardPassword-container">
            <input class="boardPassword" placeholder="게시글 비밀번호 (11자 이내)" maxlength="11"
                      type="password" size="19px"/>
        </div>
        <div class="userPassword-container">
            <input class="userPassword" placeholder="" type="password" size="19px"/>
        </div>
        <br>
        <div class="input-container">
            <div class="cote-container">
                <h1>게시글</h1>
                <div class="cote-text-count">0/5000</div>
                <div class="cote-content"></div>
            </div>
        </div>
        </div>
        <div class="button-container">
            <button class="cancel-button">취소</button>
            <button class="submit-button">등록</button>
        </div>
    </form>
</main>
<footer></footer>
<script>
    let coteContent="";
</script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/article/form.js"></script>
</body>
</html>