<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
    <link href="../../static/css/article/form.css" th:href="@{/css/article/form.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>
<body>
<header></header>
<main class="cont-main">
    <form action="/coteboard/form" method="post" class="coteForm" onsubmit="return false;">
        <div class="title-container">
            <textarea class="title" placeholder="제목을 적어 주세요." rows="1"></textarea>
        </div>
        <div class="input-container">
            <div class="article-container">
                <h1>게시글</h1>
                <div class="article-text-count">0/5000</div>
                <div class="article-content"></div>
            </div>
        </div>
        </div>
        <div class="button-container">
            <button class="cancel-button">취소</button>
            <button class="submit-button">등록</button>
        </div>
    </form>
</main>
<footer></footer>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/article/form.js"></script>
</body>
</html>