<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/user/adminuser.css" th:href="@{css/user/adminuser.css}">
</head>
<body>
<h1>회원정보 수정</h1>


    <form th:action="@{'/admin/' + ${user.userId}}" method="POST" th:object="${user}">
        <div>
            <label>UID</label>
            <input type="text" name="userId" disabled th:value="*{userId}">
        </div>
        <div>
            <label>이메일</label>
            <input type="text" name="email" disabled th:value="*{email}">
        </div>
        <div>
            <label>닉네임</label>
            <input type="text" name="nickname" class="input-field" pattern="^\S{1,10}$" required maxlength="10" th:value="*{nickname}">
        </div>
        <div>
            <label>가입일</label>
            <input type="text" name="createdAt" disabled th:value="*{#temporals.format(createdAt, 'yyyy_MM-dd  HH:mm:ss')}">
        </div>
        <div>
            <label>탈퇴일</label>
            <input type="text" name="deletedAt" disabled th:value="*{#temporals.format(deletedAt, 'yyyy-MM-dd  HH:mm:ss')}">
        </div>
        <div>
            <label for="role">회원등급</label>
            <select name="role" id="role" th:field="*{role}">
                <option value="JUNIOR" th:selected="*{role == 'JUNIOR'}">JUNIOR</option>
                <option value="SENIOR" th:selected="*{role == 'SENIOR'}">SENIOR</option>
            </select>
        </div>
        <button type="submit" class="btn-update" disabled onclick="update()">변경사항 저장</button>
        <button type="button" class="btn-close" onclick="closePopup()">닫기</button>
    </form>

    <script>
        const userForm = document.querySelector('form')
        const updateBtn = document.querySelector('.btn-update')
        const inputField = document.querySelector('.input-field')
        const selectRole = document.querySelector('select')
        const regex = /^\S{1,10}$/;

        function update() {
            userForm.submit();
        }

        function closePopup() {
            window.close();
        }

        inputField.addEventListener('input', () => {
            if (regex.test(inputField.value)) {
                updateBtn.removeAttribute('disabled');
            } else{updateBtn.disabled = true}
        })

        selectRole.addEventListener('change', () => {
            updateBtn.removeAttribute('disabled');
        })

        window.addEventListener('beforeunload', () => {
            opener.parent.location.reload();
        })
    </script>
</body>
</html>