<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자페이지 입니다.</h1>

<table>
    <caption>유저 조회</caption>
    <thead>
        <tr>
            <td>유저 이메일</td>
            <td>유저 닉네임</td>
            <td>계정 생성일</td>
            <td>계정 삭제일</td>
            <td>유저 등급</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.getEmail}"></td>
            <td th:text="${user.getNickname}"></td>
            <td th:text="${user.getCreatedAt}"></td>
            <td th:text="${user.getDeletedAt}"></td>
            <td th:text="${user.getRole}"></td>
            <td><button type="button">회원정보 수정</button></td>
        </tr>
    </tbody>
</table>

</body>
</html>