<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ask Hub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/static/css/article/mypage.css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><a href="mypage.html" th:href="@{/user/mypage}">마이페이지</a></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myprofile.html" th:href="@{/user/myprofile}">프로필</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="myinfo.html" th:href="@{/user/myinfo}">정보 변경</a>
            <a class="list-group-item list-group-item-action list-group-item-light bg-primary text-white p-3" href="mypassword.html" th:href="@{/user/mypassword}">비밀번호 변경</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="mywithdraw.html" th:href="@{/user/mywithdraw}">회원 탈퇴</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">Action</a>
                                <a class="dropdown-item" href="#!">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">비밀번호 변경</h1>
            <form class="form-control" th:action method="post">
            <p class="mt-4">현재 비밀번호</p>
            <input type="password">
            <p class="mt-4">변경할 비밀번호</p>
            <input type="password">
            <p class="mt-4">비밀번호 확인</p>
            <input type="password">
            <button type="submit" class="btn btn-primary">확 인</button>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="resources/static/js/article/mypage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>