<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASK HUB</title>
    <link rel="stylesheet" href="/css/user/signup.css">
</head>
<body>
    <div class="signup">
        <h2>ASK HUB에 오신것을 환영합니다.</h2>
        <form>
            <div class="div-signup">
                <label>이메일</label>
                <input type="email" name="email" id="email" required pattern="^([0-9a-zA-Z_-.%+]+)@([0-9a-zA-Z_-.]+)\.([0-9a-zA-Z_-]{2,})$" placeholder="이메일">
            </div>
            <div class="div-signup">
                <!-- 8자리 이상 / 숫자, 영어소문자 1개이상 포함 / 영어 대소문자, 숫자 입력가능-->
                <label>비밀번호</label>
                <input type="password" id="password" name="password" pattern="^(?=.*[0-9])(?=.*[a-zA-Z])[0-9a-zA-Z]{8,}$" required placeholder="알파벳, 숫자 포함 8자 이상">
            </div>
            <div class="div-signup">
                <label>닉네임</label>
                <input type="text" name="nickname" id="nickname" pattern="^\S{1,10}$" maxlength="10" required placeholder="10글자이내">
            </div>
            <button type="submit">회원가입</button>
            <p>이미 회원이신가요? <a href="/user/login">로그인</a></p>
        </form>
    </div>
    <script>
        const form =  document.querySelector('form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(form);
            const url = '/user/signup';

            fetch(url, {
                method: 'POST',
                body: formData
            }).then((response)=>{
                if(response.status == 201) {
                    response.text()
                            .then((res) => {
                        alert(res);
                        location.href='/user/login'
                    })
                } else {
                    response.text()
                            .then((res) => {
                                if (res.includes(",")) {
                                    let texts = res.split(",");
                                    let msg = texts.join("\n");
                                    alert(msg);
                                }
                                else {
                                    alert(res);
                                }
                            })
                }
            })
        });
    </script>
</body>
</html>