
a{
    text-decoration: none;
    color:inherit;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    margin-left:15vw;
    margin-right:15vw;
}

/*header 파트*/
.box-header{
    display: flex;
    align-items: center;
    width: 100%;
}

h1{
    white-space: nowrap; /*h1 내용이 줄바꿈되지 않도록 설정*/
    flex-shrink: 0; /*h1 크리가 축소되지 않도록 설정*/
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    width:100%;
}

.navbar-left,.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.move_to_menu{

}

.move_to_menu:hover{
    color: #3977fe;
    font-weight: 700;
}

.logout_btn{
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color:#363636;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.user_info strong:hover{
    color:#3977fe;
    font-weight: bold;
}


/*main 파트*/


/*검색창 파트*/
.search_form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:6vh;
    width: 100%;
    background: white;
    padding: 15px 0;
    height: 60px;
}

.select{
    border: none;
    font-size: 20px;
    width: 12%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #dbdbdb;
    height: 100%;
    box-sizing: border-box;
    padding-left: 25px;
    cursor: pointer;
}


.input {
    color: black;
    font-size: 20px;
    width:60%;
    background-color: inherit;
    border: 1px solid #dbdbdb;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
}

.search_image{
    background-color: white;
    width: 8%;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #dbdbdb;
    height: 100%;
    box-sizing: border-box;
}

.select:focus-within {
    background-color: white;
    outline: 3px solid #3977fe;
    outline-offset: -3px; /* 아웃라인을 요소 안쪽으로 이동 */
}

.input:focus-within {
    background-color: white;
    outline: 3px solid #3977fe;
    outline-offset: -3px; /* 아웃라인을 요소 안쪽으로 이동 */
}

.search_image:hover {
    background-color: white;
    outline: 3px solid #3977fe;
    outline-offset: -3px; /* 아웃라인을 요소 안쪽으로 이동 */
}


/*게시판*/

.profile-image {
    border-radius: 70%;
}

.table_container{
    width: 100%;
    overflow: hidden;
}

.sequence{
    width: 7%;
    margin-right: 25px;
    text-align: center;
    display : flex;
    justify-content : center;
    align-items : center;
}

@media screen and (min-width: 1196px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 26%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

@media screen and (min-width: 791px) and (max-width: 1195px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 40%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 790px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 98%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

.write-button{
    margin-right: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #3977fe;
    font-size: 18px;
    font-weight: 700;
}

.button-container {
    margin-top: 20px;
    margin-right: 20px;
    text-align: end;
}

.author_createdat_container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


.titlecontent {
    font-size: 20px;
    font: bold;
}

/*페이지 이동 바*/
.page_list{
    display: flex;
    justify-content: center;
    margin-top:40px;
    gap:10px;
}

.page_current, .page_link{
    font-weight: bold;
    border:1px solid #dbdbdb;
    border-radius: 10px;
    color: #afafaf;
    text-align: center;
    cursor: pointer;
}

.page_link:hover{
    background-color: #3977fe;
}

.page_current{
    color:white;
    background-color: #3977fe;
}

.page_list a, .page_current a{
    display:block;
    padding:1.0em;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.log-info{
    margin-left: 160px;
}

.user-nickname{
    font-size: 12px;
    color: #5c636a;
}

.btn-log{
    background-color: #3977fe;
    height: 25px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}