

a{
    text-decoration: none;
    color:inherit;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    margin-left:15vw;
    margin-right:15vw;
}

/*header 파트*/
.box-header{
    display: flex;
    align-items: center;
    width: 100%;
}

h1{
    white-space: nowrap; /*h1 내용이 줄바꿈되지 않도록 설정*/
    flex-shrink: 0; /*h1 크리가 축소되지 않도록 설정*/
}

.navbar-menu{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    width:100%;
}

.navbar-left,.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.move_to_menu{

}

.move_to_menu:hover{
    color:#04B45F;
    font-weight: 700;
}

.logout_btn{
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color:#363636;
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.logout_btn{
    color:#FFFFFF;
    background-color: #96c99a;
}

.user_info strong:hover{
    color:#04B45F;
    font-weight: bold;
}


/*main 파트*/


/*검색창 파트*/
.search_form{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom:6vh;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    background: white;
}

.search_image{
    position: absolute;
    left: 30px;
}

.input {
    color: black;
    padding:20px;
    font-size: 20px;
    width:100%;
    margin-inline: 40px;
    border: none;
    background-color: inherit;
}

.input:focus{
    outline: none;
}

.search_form:hover{
    border:1px solid #363636;
}

.search_form:focus-within {
    background-color: white;
    outline: 3px solid #04B45F;
    outline-offset: -3px; /* 아웃라인을 요소 안쪽으로 이동 */
}

/*게시판*/
.table_container{
    width: 100%;
    overflow: hidden;
}

.sequence{
    width: 7%;
    margin-right: 25px;
    text-align: center;
    display : flex;
    justify-content : center;
    align-items : center;
}

@media screen and (min-width: 1196px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 26%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

@media screen and (min-width: 791px) and (max-width: 1195px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 40%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 790px) {
    .article_container {
        background: #dfdfdf;
        display: inline-block;
        width: 98%;
        margin: 15px;
        padding: 10px 10px 8px 10px;
        word-wrap: break-word;
    }
}

.write-button{
    margin-right: 50px;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #3977fe;
    font-size: 18px;
    font-weight: 700;
}

.button-container {
    margin-top: 20px;
    margin-right: 20px;
    text-align: end;
}

.author_createdat_container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


/**/
.titlecontent {
    font-size: 20px;
    font: bold;
}

/*페이지 이동 바*/
.page_list{
    display: flex;
    justify-content: center;
    margin-top:40px;
    gap:10px;
}

.page_current, .page_link{
    font-weight: bold;
    border:1px solid #dbdbdb;
    border-radius: 10px;
    color: #afafaf;
    text-align: center;
    /*padding:1.0em;*/
    cursor: pointer;
}

.page_link:hover{
    background-color: #3977fe;
}

.page_current{
    color:white;
    background-color: #3977fe;
}

.page_list a, .page_current a{
    display:block;
    /*background-color: #04B45F;*/
    padding:1.0em;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.log-info{
    margin-left: 160px;
}

.user-nickname{
    font-size: 12px;
    color: #5c636a;
}

.btn-log{
    background-color: #3977fe;
    height: 25px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}